
.header h2{
    font-size: 59px;
    font-weight: 700;
    text-align: center;
    color: #1FD8CD;
    margin-top: 100px;
}
.header span{
    color: #C5018E;
}
/* section1 */
.section1 p span{
    font-weight: 500;
    font-size: 22px;
   
}
.section1-text h4{
    font-size: 35px;
    font-weight: 500;
}
.section1-text button{
    background-color: #00F6FF;
    color: black;
    padding: 8px;
    margin-top: 15px;
    font-weight: 400;
}